html, body {

    background-color: rgb(207, 207, 207);
    padding: 0;
    margin: 0;
    font-size: 100%;
    color: black;
    font-family: 'Montserrat', sans-serif;
    user-select: none;
    
}

body {

    overflow-y: scroll;
    overflow-x: hidden;

}

nav {

    padding-top: 2.5rem;
    padding-left: 3rem;
    display: grid; 
    grid-template-columns: 1fr 150px 150px;
    grid-gap: 3rem;

}

nav a {

    text-decoration: none;
    color: black;
    transition: .5s;
    padding-right: 4rem;

}

nav a:hover {

    color: #B074B2;
    
} 

.tidsLinje {

    width: 2px;
    height: 3700px;
    background: rgba(156, 156, 156, 0.137);
    /* position: relative; */
    /* z-index: 1; */
    margin: auto;
    
}
/*felles for alle på helesiden*/
h1 {
 
    text-align: center;
    font-size: 3rem;
    font-weight: 500;
}

h2 {
 
    font-size: 2rem;
    font-weight: 400;
    
    transform: rotate(-90deg);

}

h3 {

    font-size: 1.5rem;
}

p {

    font-size: 1.1rem;
}

.framVisningBakgrun {

    width: 700px;
    height: 700px;
    border-radius: 100px;
   
}

.portefølje {

    margin-top: 20rem;

}

/*section 1*/
.wrapper1 {

    margin-left: 5%;
    margin-right: 5%;
    transition: 1s;
    opacity: .99;
      
}


#secProsjekter > div:nth-child(odd) {

    display: grid;
    grid-template-columns: 400px auto auto;
    grid-gap: 9rem;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    margin-left: -560px;
    /* grid-gap: 12rem; */
    /* justify-content: center; */
    /* align-content: center; */



    /*
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    /* grid-template-columns: 350px 100px 1fr; */
    /* grid-gap: 12rem; */
    /* justify-content: center; */
    /* align-content: center; */
  /*  position: absolute;
    /* top: 1000px; */

}

/*

#secProsjekter > div:nth-child(odd) {

        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        /* grid-template-columns: 350px 100px 1fr; */
        /* grid-gap: 12rem; */
        /* justify-content: center; */
        /* align-content: center; 
        position: absolute;
        /* top: 1000px; 

}
 
*/


#secProsjekter > div:nth-child(odd) .framVisningBakgrun {

   /* border: 3px solid #6FACDD; */
    background-color: #6FACDD;
    transform: rotate(45deg);
    top: -47rem;
    left: 53rem;
    z-index: -1;
    position: relative;
   
  
}

#secProsjekter > div:nth-child(odd) .beskrivelseAvProsjekt {

    max-width: 600px;

}


#secProsjekter > div:nth-child(odd) h3 {


}

#secProsjekter > div:nth-child(odd) h2 {
/*
    top: -50px;
    left: 32px;
  */
}

.wrapper1:nth-child(odd) img {

 
  

}




/*her begynner section 2 / speilvent */

#secProsjekter > div:nth-child(2) {


    display: grid;
    grid-template-columns: 400px auto auto;
    grid-gap: 9rem;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    margin-left: -560px;

    top: 2000px;
   

}

#secProsjekter > div:nth-child(even) .framVisningBakgrun {

    background-color: #DDBF6F;
    top: -23rem;
    left: -7rem;

    transform: rotate(45deg);
    z-index: 1;
    position: relative;

    

}

#secProsjekter > div:nth-child(even) .beskrivelseAvProsjekt {
/*
    position: absolute;
    width: 400px;
    left: 60rem;
    margin-top: 24rem;
*/
}


#secProsjekter > div:nth-child(even) h3 {

    margin-top: 15rem;
    text-align: end; 

}


#secProsjekter > div:nth-child(even) p {

    text-align: end; 

}

#secProsjekter > div:nth-child(even) h2 {

    top: -100px;
    left: -92px;

}

.wrapper1:nth-child(even) .framvisningAvprosjekt img {

    margin-top: 12rem;
    width: 90%;

}

.wrapper1:nth-child(even) > div:nth-child(1) {
    
    order: 2;
    
}
.wrapper1:nth-child(even) > div:nth-child(2) {
    
    order: 1;
    
}

.wrapper1:nth-child(even) > div:nth-child(3) {
    
    order: 1;
    
}

/*hentes ikke fra database*/

.s4 {

    border: 1px solid #9C9C9C;
    background-image: url("img/bildeAvMeg.png");
    background-position: center;
    border-radius: 250px;
    padding: 100px;
    width: 250px;
    height: 250px;
    margin: auto;
    margin-bottom: 10rem;

}

.omMeg {

    text-align: center;
    color: white;
    margin-top: 15rem;
    
    
}

.omMeg h4 {

    margin: 0;
    font-size: 1.5rem
    
}

.omMeg p {

    margin: 0;
    
}




@media only screen and (max-width: 1200px) {

    #secProsjekter > div:nth-child(odd) {

        grid-template-rows: 1fr;
       /* grid-gap: 9rem; */
    
    
    }
    

}
