
html, 
body {

    padding: 0;
    margin: 0;
    background-color: white;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 100%;
    color: black;
    user-select: none;

    overflow-y: scroll;
    overflow-x: hidden;
   
}


a {

  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;

} 

a:hover {

  color: rgb(168, 96, 108);

}

#menuToggle {

  display: block;
  position: relative;
  top: 50px;
  left: 72px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
  position: fixed;

}

#menuToggle input {

  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;

}

/*
 * Just a quick hamburger
 */
#menuToggle span {

  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: black;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child {

  transform-origin: 0% 0%;

}

#menuToggle span:nth-last-child(2) {

  transform-origin: 0% 100%;

}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span {

  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;

}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3) {

  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);

}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2) {

  transform: rotate(-45deg) translate(0, -1px);

}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu {

    overflow: hidden;  

    position: absolute;
    width: 100vw;
    height: 100vh;
    margin: -100px 0 0 -80px;
    padding: 50px;
    padding-top: 125px;
    
    background: white;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */
    
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li {

  padding: 30px 0;
  font-size: 22px;

}

/*And let's slide it in from the left*/
#menuToggle input:checked ~ ul {

  transform: none;

}



.s1 {

    margin-top: 20rem;
    height: 500px;
    padding-left: 5%;
    /*top: 350px;*/
  
    
}

.s1 h1 {

    font-weight: 300;
    font-size: 3.5rem;
    margin: 0;

}


.s1 p {

    font-size: 1rem;
    font-weight: 300;
    width: 500px;

}

h2 {

    font-weight: 300;
    font-size: 3rem;
    margin: 0;
    text-align: center;
    padding-top: 10rem;
    padding-bottom: 10rem;

}

.s2 span {

    font-size: 3rem;
   

}

.s2 h3 {

    font-size: 3rem;
    font-weight: 500;

}

.s2 p {

    font-size: 1rem;

}


/*Her begynner prosjektene*/

.s2 {

    display: flex;
    flex-flow: row wrap;
    justify-content: center;


}



.one {
    
    background-image: url("img/hemsedal.jpg");
    background-position: center;
    background-size: cover;


  
    height: 500px;
    width: 700px;
   
}



.two {

    background-image: url("img/fairtrade.svg");
    background-position: center;


   
    height: 500px;
    width: 700px;
    
}

.three {

    background-image: url("img/eggTimer.svg");
    background-position: center;

  
    
    height: 500px;
    width: 700px;
    
}

.four {

    background-image: url("img/skogholt.png");
    background-position: center;
    background-size: cover;


   

    height: 500px;
    width: 700px;
    
}





/*

.one {
   
    margin-top: 5rem;
    display: grid;
    grid-template-columns: 1fr 500px;  
   
}

.one .tekstfelt {

    padding: 10rem 0 0 0;
   


}

.one a {

    text-decoration-line: underline;
    
}



.two {

    margin-top: 10rem;
    display: grid;
    grid-template-columns: 500px 1fr;  

   
}

.two .tekstfelt{


    padding: 10rem 0 0 3rem;
}




.three {

    margin-top: 10rem;
    display: grid;
    grid-template-columns: 1fr 500px;  
    
}



.three .tekstfelt{


    padding: 10rem 0 0 3rem;
}



.four {

    margin-top: 10rem;
    display: grid;
    grid-template-columns: 500px 1fr;  

    
}


.four .tekstfelt{


    padding: 10rem 0 0 3rem;

}


*/



