* {
    box-sizing: border-box;
    outline: none;

}

h1 {

    font-size: 16px;
    font-weight: 400;
}

body {
    font-family: 'Comfortaa', cursive;
    text-align: center;
    padding-top: 1rem;
    background-color: rgb(238, 238, 238);
}




a:link {

    color: black;
    font-size: 20px;
    font-weight: 300;
}

a:hover {

    color: rgb(224, 202, 141);
    cursor: pointer;

}


.arrow {

    padding-top: 2rem;
}


#preveiw {

    display: block;
    margin-left: auto;
    margin-right: auto;
}

.visning-av-app {

    padding-top: 10rem;
    display: flex;
    justify-content: space-around;

}


#appimage {

    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.199);

}


p {
    display: inline;
    width: 300px;
    padding-top: 130px;
    line-height: 2rem;
}

