* {
    box-sizing: border-box;
    outline: none;

}

h1 {

    font-size: 16px;
    font-weight: 400;
}

body {
    font-family: 'Comfortaa', cursive;
    text-align: center;
    padding-top: 2%;
    background-color: rgb(238, 238, 238);
}

.download-knapp {

    padding-bottom: 5%;
}



a:link {

    color: black;
    font-size: 20px;
    font-weight: 300;
    
}

a:hover {

    color: rgb(224, 202, 141);
    cursor: pointer;

}


#preveiw {

    padding-top: 1%;
    padding-bottom: 3%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

