

html, body {

    padding: 0;
    margin: 0;
    font-size: 100%;
    background-color: white;
    color: black;
    font-family: 'Montserrat Alternates', sans-serif;
    user-select: none;
}


nav {

    padding-top: 2.5rem;
    padding-left: 3rem; 

}

nav a {

    text-decoration: none;
    color: #9C9C9C;
    transition: .5s;

}

nav a:hover {

    color: #B074B2;
    
} 


main {

    padding-top: 10rem;
    text-align: center;
}