

html, body {

    padding: 0;
    margin: 0;
    font-size: 100%;
    background-color: rgb(207, 207, 207);
    color: black;
    font-family: 'Montserrat', sans-serif;
    user-select: none;
}


nav {

    padding-top: 2.5rem;
    padding-left: 3rem; 

}

nav a {

    text-decoration: none;
    color: #9C9C9C;
    transition: .5s;

}

nav a:hover {

    color: #B074B2;
    
} 


main {

    margin-top: 4rem;
    margin-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 6rem;
}

h1 {


    font-weight: 500;
    font-size: 1.5rem;
}



.innholdTilProsjektet input {

    height: 3rem;
    width: 38rem;
    border-radius: 6px;
    margin-bottom: 1rem;
    padding-left: .5rem;
    font-size: 1rem;
    margin-top: 1rem;
    background-color:rgb(180, 180, 180);
    border: none;

}

.innholdTilProsjektet input[type=color] {
  /*width: 20rem;*/
}

.innholdTilProsjektet textarea {

    height: 9rem;
    width: 38rem;
    border-radius: 6px;
    padding-left: .5rem;
    padding-top: 1rem;
    font-size: 1rem;
    margin-top: 1rem;
    margin-bottom: 3rem;
    background-color:rgb(180, 180, 180);
    border: none;
    

}

.innholdTilProsjektet .button {

    background-color: rgb(100, 141, 87);
    color: black;
    border-radius: 10px;
    border: none;
    padding: 1.1rem 16rem 1.1rem 14rem;
    /* width: 276px; */
    margin-bottom: 3rem;
    margin-top: 1rem;
    cursor: pointer;
    transition: .5s;
    font-size: 1rem;
    span: 2;

}

.innholdTilProsjektet .button:hover {

   
    background-color: rgb(83, 117, 72);
    border-radius: 15px;
    
}


.bildeOpplasting input {

    height: 3rem;
    width: 28rem;
    border-radius: 6px;
    font-size: 1rem;
    padding-left: .5rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    background-color:rgb(180, 180, 180);
    border: none;
  
}

.bildeOpplasting .button {

    background-color: #eee;
    color: black;
    border-radius: 10px;
    border: none;
    padding: 1rem 3rem 1rem 3rem;
    cursor: pointer;
    transition: .5s;
    padding: 1rem;
    font-size: 1rem;
    

}

.bildeOpplasting .button:hover {

    background-color: rgb(161, 161, 161);
    border-radius: 15px;
    
}


.bildeOpplasting #infoBilde {

    display: block;
   
}

.bildeOpplasting p {

    padding-top: 3rem;

}

#inpBilde{

    display: none;

}


#fjernTegn {

    width: 5%;

}


#overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(48,48,48,1);
    /* display: flex; */
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}


#overlay img {
    width: 64px;
}

#ulBilder > div {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    grid-gap: 1rem;
    
}

#ulBilder > div > img {

    cursor: pointer;

}


.lds-ring {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 51px;
    height: 51px;
    margin: 6px;
    border: 6px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  


#overlayBekreftelse {

    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(48,48,48,1);
    /* display: flex; */
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;

  }
  #overlayBekreftelse p {

    color: #4CAF50;

  }

  .check_mark {
    width: 80px;
    height: 130px;
    margin: 0 auto;
  }
  
  #overlayBekreftelse button {
    cursor: pointer;
    margin-left: 15px;
  }
  
  .hide {
    display:none;
  }
  
  .sa-icon {
    width: 80px;
    height: 80px;
    border: 4px solid gray;
    -webkit-border-radius: 40px;
    border-radius: 40px;
    border-radius: 50%;
    margin: 20px auto;
    padding: 0;
    position: relative;
    box-sizing: content-box;
  }
  
  .sa-icon.sa-success {
    border-color: #4CAF50;
  }
  
  .sa-icon.sa-success::before, .sa-icon.sa-success::after {
    content: '';
    -webkit-border-radius: 40px;
    border-radius: 40px;
    border-radius: 50%;
    position: absolute;
    width: 60px;
    height: 120px;
    /*background: white;*/
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  .sa-icon.sa-success::before {
    -webkit-border-radius: 120px 0 0 120px;
    border-radius: 120px 0 0 120px;
    top: -7px;
    left: -33px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 60px 60px;
    transform-origin: 60px 60px;
  }
  
  .sa-icon.sa-success::after {
    -webkit-border-radius: 0 120px 120px 0;
    border-radius: 0 120px 120px 0;
    top: -11px;
    left: 30px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 0px 60px;
    transform-origin: 0px 60px;
  }
  
  .sa-icon.sa-success .sa-placeholder {
    width: 80px;
    height: 80px;
    border: 4px solid rgba(76, 175, 80, .5);
    -webkit-border-radius: 40px;
    border-radius: 40px;
    border-radius: 50%;
    box-sizing: content-box;
    position: absolute;
    left: -4px;
    top: -4px;
    z-index: 2;
  }
  
  .sa-icon.sa-success .sa-fix {
    width: 5px;
    height: 90px;
    /*background-color: white;*/
    position: absolute;
    left: 28px;
    top: 8px;
    z-index: 1;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  
  .sa-icon.sa-success.animate::after {
    -webkit-animation: rotatePlaceholder 4.25s ease-in;
    animation: rotatePlaceholder 4.25s ease-in;
  }
  
  .sa-icon.sa-success {
    border-color: transparent\9;
  }
  .sa-icon.sa-success .sa-line.sa-tip {
    -ms-transform: rotate(45deg) \9;
  }
  .sa-icon.sa-success .sa-line.sa-long {
    -ms-transform: rotate(-45deg) \9;
  }
  
  .animateSuccessTip {
    -webkit-animation: animateSuccessTip 0.75s;
    animation: animateSuccessTip 0.75s;
  }
  
  .animateSuccessLong {
    -webkit-animation: animateSuccessLong 0.75s;
    animation: animateSuccessLong 0.75s;
  }
  
  @-webkit-keyframes animateSuccessLong {
    0% {
      width: 0;
      right: 46px;
      top: 54px;
    }
    65% {
      width: 0;
      right: 46px;
      top: 54px;
    }
    84% {
      width: 55px;
      right: 0px;
      top: 35px;
    }
    100% {
      width: 47px;
      right: 8px;
      top: 38px;
    }
  }
  @-webkit-keyframes animateSuccessTip {
    0% {
      width: 0;
      left: 1px;
      top: 19px;
    }
    54% {
      width: 0;
      left: 1px;
      top: 19px;
    }
    70% {
      width: 50px;
      left: -8px;
      top: 37px;
    }
    84% {
      width: 17px;
      left: 21px;
      top: 48px;
    }
    100% {
      width: 25px;
      left: 14px;
      top: 45px;
    }
  }
  @keyframes animateSuccessTip {
    0% {
      width: 0;
      left: 1px;
      top: 19px;
    }
    54% {
      width: 0;
      left: 1px;
      top: 19px;
    }
    70% {
      width: 50px;
      left: -8px;
      top: 37px;
    }
    84% {
      width: 17px;
      left: 21px;
      top: 48px;
    }
    100% {
      width: 25px;
      left: 14px;
      top: 45px;
    }
  }
  
  @keyframes animateSuccessLong {
    0% {
      width: 0;
      right: 46px;
      top: 54px;
    }
    65% {
      width: 0;
      right: 46px;
      top: 54px;
    }
    84% {
      width: 55px;
      right: 0px;
      top: 35px;
    }
    100% {
      width: 47px;
      right: 8px;
      top: 38px;
    }
  }
  
  .sa-icon.sa-success .sa-line {
    height: 5px;
    background-color: #4CAF50;
    display: block;
    border-radius: 2px;
    position: absolute;
    z-index: 2;
  }
  
  .sa-icon.sa-success .sa-line.sa-tip {
    width: 25px;
    left: 14px;
    top: 46px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  .sa-icon.sa-success .sa-line.sa-long {
    width: 47px;
    right: 8px;
    top: 38px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  
  @-webkit-keyframes rotatePlaceholder {
    0% {
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
    }
    5% {
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
    }
    12% {
      transform: rotate(-405deg);
      -webkit-transform: rotate(-405deg);
    }
    100% {
      transform: rotate(-405deg);
      -webkit-transform: rotate(-405deg);
    }
  }
  @keyframes rotatePlaceholder {
    0% {
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
    }
    5% {
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
    }
    12% {
      transform: rotate(-405deg);
      -webkit-transform: rotate(-405deg);
    }
    100% {
      transform: rotate(-405deg);
      -webkit-transform: rotate(-405deg);
    }
  }
